<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header-css">
	<!-- this is header-css -->
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />



	<meta
		content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
		name='viewport' />
	<meta name="viewport" content="width=device-width" />


	<!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Animation library for notifications   -->
	<link href="assets/css/animate.min.css" rel="stylesheet" />

	<!--  Light Bootstrap Table core CSS    -->
	<link href="assets/css/light-bootstrap-dashboard.css" rel="stylesheet" />

	<!--     Fonts and icons     -->
	<link
		href="assets/css/icons.css" rel="stylesheet">
		
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300'
		rel='stylesheet' type='text/css'>
	<link href="assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
	
<!-- 	<link href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'> -->

	<style>
.valor-invalido {
	border-color: red !important;
	color: red !important
}

.texto-valor-invalido {
	color: red;
	font-size: 11px
}

#loading {
	width: 100%;
	height: 100%;
	background-color: #820882;
	position: absolute;
	z-index: 999999;
	opacity: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

#img-loading {
	width: 100px;
	height: auto;
}
</style>

</div>

</html>